@tailwind base;
@tailwind components;
@tailwind utilities;

.desktop-nav-button {
  @apply md:w-24 lg:w-32 hidden md:block  border-0 py-2 md:px-4 lg:px-8 ml-2 focus:outline-none  rounded text-lg font-semibold;
}
.desktop-nav-button-active {
  @apply text-black bg-gray-200 dark:bg-gray-500 dark:text-white hover:bg-gray-300 dark:hover:bg-gray-500;
}
.desktop-nav-button-inactive {
  @apply text-black bg-gray-100 dark:bg-gray-700 dark:text-gray-100 hover:bg-gray-200 dark:hover:bg-gray-600;
}
.bottom-nav-button {
  @apply flex flex-col items-center justify-center py-1 px-4 w-20 rounded-md select-none;
}
